@charset "utf-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

footer{
    margin-top: 5vh;
    height: 32vh;
    background-color: #cacaca;
    border-top: solid #606060 5px;
    border-bottom: solid #606060 5px;
}

footer p{
    padding-top: 13vh;
    font-size: 2.5em;
}

img{
    margin: 10px;
    transition: 1s;
    width: 200px;
    height: 320px;
    transform: translateY(0deg);
}

img:hover{
    box-shadow: 5px 5px 10px #000;
    transition: 1s;
}
